.row {
  line-height: 2.5;
}

.col-tab {
  background-image: url("../src/images/forecast.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  line-height: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.days {
  font-family: "Averia Serif Libre", cursive;
}
.temp-max {
  color: brown;
}

.temp-min {
  color: blue;
}
